doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sasquatch.css')
    script(src='/javascripts/sasquatch.js')
    title= 'Tickets (' + numNew + ')'
  body
    block content